/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body {
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
    display: flex;
    overflow: hidden;
    min-height: 100%;
    flex-direction: column;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}
.anchors {
    position: relative;
    bottom: 79px;
}
@media (max-width:767px) {
    .anchors {
        position: relative;
        bottom: 49px;
    }
}

/* ! меню */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: 0 0 10px black;
}
.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__logo {
    display: flex;
    font-size: 60px;
    font-weight: 700;
    color: black;
    position: relative;
    z-index: 3;
}
.header__burger {
    display: none;
}
/* .header__menu {
} */
.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li {
    list-style: none;
    margin: 0 0 0 20px;
}
.header__link {
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
}
.header__link:hover {
    line-height: 30px;
    border-bottom: 2px solid black;
}
@media (max-width:767px) {
    body.lock {
        overflow: hidden;
    }
    .header__body {
        height: 50px;
    }
    .header__logo {
        font-size: 30px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease  0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: "";
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease  0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
        padding: 70px 0 20px 10px;
        transition: all 0.3s ease  0s;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;

        text-align: right;
        position: absolute;
        top: 80px;
        right: 30px;
    }
    .header__list li {
        margin: 0 0 30px 0;
    }
}
/* ! привествие */
.start {
    display: flex;
    padding: 80px 0 0 0;
    /* border: 2px solid white; */
    height: 100vh;

    align-items: center;

    background-image: url(../img/wallpaper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}
.start__text {
    display: flex;
    flex-direction: column;

    text-align: center;

    /* border: 2px dotted white; */
}
.start__text h1 {
    margin: 0 0 30px 0;
    font-size: 80px;
    color: white;
    /* border: 2px solid purple; */
}
.start__text p {
    font-size: 40px;
    font-style: italic;
    color: white;
    /* border: 2px solid purple; */
}
.start__more {
    display: flex;
    flex-direction: column;

    position: relative;
    top: 80px;
    
    /* border: 2px dotted white; */
    justify-content: center;
    align-items: center;
}
.start__more p {
    margin: 0 0 30px 0;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    /* border: 2px solid purple; */
}
.start__more img {
    width: 60px;
    height: 60px;
    /* border: 2px solid purple; */
}
/* * мигающий текст */
#blink {
    -webkit-animation: blink 3s linear infinite;
    animation: blink 3s linear infinite;
  }
  @-webkit-keyframes blink {
    0% { color: rgb(255, 255, 255); }
    50% { color: rgba(255, 255, 255, 0.2); }
    100% { color: rgb(255, 255, 255); }
  }
  @keyframes blink {
    0% { color: rgb(255, 255, 255); }
    50% { color: rgba(255, 255, 255, 0.2); }
    100% { color: rgb(255, 255, 255); }
  }
/* * =========================== */
@media (max-width:767px) {
    .start__text h1 {
        margin: 0 0 30px 0;
        font-size: 60px;
    }
    .start__text p {
        font-size: 30px;
    }
    .start__more p {
        margin: 0 0 30px 0;
        font-size: 20px;
    }
    .start__more img {
        width: 50px;
        height: 50px;
    }
}
@media (max-width:580px) {
    .start__text h1 {
        margin: 0 0 30px 0;
        font-size: 45px;
    }
    .start__text p {
        font-size: 20px;
    }
    .start__more p {
        margin: 0 0 30px 0;
        font-size: 15px;
    }
    .start__more img {
        width: 40px;
        height: 40px;
    }
}
@media (max-height:560px) {
    .start__more {
        top: 40px;
    }
}
/* ! навыки */
/* .skills {
} */
.skills__title {
    text-align: center;
    margin: 50px 0 80px 0;
    font-size: 50px;
    text-transform: uppercase;
    text-decoration: underline;
}
.skills__grid {
    position: relative;
    margin: 0 0 100px 0;
}
.skills__grid-body {
    display: grid;
    grid-template-columns: 49% 2% 49%;
    row-gap: 50px;
}
.skills__grid-item {
    text-align: center;
    /* border: 2px dotted purple; */
    padding: 0;
}
.item-title {
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 30px;
    transition-duration: 1s;
}
.item-title:hover {
    font-size: 35px;
}
.item-text {
    font-size: 25px;
}
.special-item {
    grid-column-start: 1;
    grid-column-end: 4;
}
@media (max-width:767px) {
    .skills__title {
        margin: 50px 0 50px 0;
        font-size: 40px;
    }
    .skills__grid-body {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 30px;
    }
    .odd-item {
        display: none;
    }
    .special-item {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .item-title {
        font-weight: 700;
        margin-bottom: 20px;
        font-size: 30px;
    }
    .item-text {
        font-size: 25px;
    }
}
@media (max-width:580px) {
    .skills__title {
        margin: 50px 0 40px 0;
        font-size: 35px;
    }
    .skills__grid-body {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 20px;
    }
    .odd-item {
        display: none;
    }
    .special-item {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .item-title {
        font-weight: 700;
        margin-bottom: 20px;
        font-size: 25px;
    }
    .item-title:hover {
        font-size: 30px;
    }
    .item-text {
        font-size: 20px;
    }
}
/* ! мои работы */
.works {
    display: flex;
    padding: 0 0 0 0;
    /* * высота картинки */
    height: 800px; 

    background-image: url(../img/under.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}
.works__title {
    text-align: center;
    /* * отступ от титула */
    margin: 50px 0 100px 0;
    /* * размер титула */
    font-size: 50px;
    
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
}
.works__box {
    display: flex;
    flex-direction: row;
    /* border: 4px dotted purple; */

    justify-content: center;
    align-items: center;

    justify-content: space-around;
    /* * ширина для контейнера плиток */
    height: 500px;
    width: 1160px;
}
.works__bar {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10%;
    overflow: hidden;
    /* * размер плитки */
    width: 300px;
    height: 400px;

    transition-duration: 1s;
}
/* * увеличение при наведении */
.works__bar:hover {
    width: 350px;
    height: 450px;
}
.bar__title {
    padding-top: 20px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 700;
}
.bar__image {
    width: 250px;
    height: 250px;
    margin: 30px auto 20px;
    border-radius: 10%;
}
.bar__btn {
    text-align: center;
    color: black;
    font-size: 28px;
    font-weight: 700;
}
@media (max-width:1200px) {
    .works__bar {
        /* * размер плитки */
        width: 250px;
        height: 350px;
    }
    .works__box {
        /* * ширина для контейнера плиток */
        height: 400px;
        width: 900px;
    }
    /* * увеличение при наведении */
    .works__bar:hover {
        width: 270px;
        height: 370px;
    }


    .bar__title {
        padding-top: 20px;
        font-size: 28px;
        font-weight: 700;
    }
    .bar__image {
        width: 150px;
        height: 150px;
        margin: 30px auto 30px;
    }
    .bar__btn {
        font-size: 25px;
        font-weight: 700;
    }
}
@media (max-width:920px) {
    .works__bar {
        /* * размер плитки */
        width: 200px;
        height: 300px;
    }
    .works__box {
        /* * ширина для контейнера плиток */
        height: 350px;
        width: 750px;
    }
    /* * увеличение при наведении */
    .works__bar:hover {
        width: 230px;
        height: 330px;
    }


    .bar__title {
        padding-top: 20px;
        font-size: 25px;
        font-weight: 700;
    }
    .bar__image {
        width: 150px;
        height: 150px;
        margin: 30px auto 20px;
    }
    .bar__btn {
        font-size: 20px;
        font-weight: 700;
    }
}
@media (max-width:767px) {
    .works {
        /* * высота картинки */
        height: 900px;
    }
    .works__title {
        /* * отступ от титула */
        margin: 50px 0 20px 0;
        /* * размер титула */
        font-size: 40px;
    }
    .works__bar {
        /* * размер плитки */
        width: 150px;
        height: 200px;
    }
    .works__box {
        flex-direction: column;
        /* * ширина для контейнера плиток */
        height: 700px;
        width: 320px;
    }
    /* * увеличение при наведении */
    .works__bar:hover {
        width: 160px;
        height: 210px;
    }


    .bar__title {
        padding-top: 10px;
        font-size: 20px;
        font-weight: 700;
    }
    .bar__image {
        width: 100px;
        height: 100px;
        margin: 10px auto 10px;
    }
    .bar__btn {
        font-size: 18px;
        font-weight: 700;
    }
}
@media (max-width:580px) {
    .works__title {
        /* * отступ от титула */
        margin: 50px 0 20px 0;
        /* * размер титула */
        font-size: 35px;
    }
    .works__box {
        flex-direction: column;
        /* * ширина для контейнера плиток */
        height: 700px;
        width: 300px;
    }
}
/* ! контакты */
.contacts__title {
    text-align: center;
    margin: 50px 0 50px 0;
    font-size: 50px;
    text-transform: uppercase;
    text-decoration: underline;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* border: 2px solid black; */
}


.contacts__phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    /* border: 4px dotted purple; */
}
.phone__text {
    font-size: 30px;
    /* border: 2px solid black; */
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition-duration: 1s;
}
.phone__text:hover {
    font-size: 35px;
}
.phone__image {
    width: 100px;
    height: 100px;
    /* border: 2px solid black; */
    margin: 0 20px;
}


.contacts__email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    /* border: 4px dotted purple; */
}
.email__image {
    width: 100px;
    height: 100px;
    /* border: 2px solid black; */
    margin: 0 20px;
}
.email__text {
    font-size: 30px;
    /* border: 2px solid black; */
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition-duration: 1s;
}
.email__text:hover {
    font-size: 35px;
}
@media (max-width:767px) {
    .contacts__title {
        margin: 50px 0 50px 0;
        font-size: 40px;
    }
    .phone__text {
        font-size: 25px;
        /* border: 2px solid black; */
        margin: 0 20px;
    }
    .phone__text:hover {
        font-size: 30px;
    }
    .phone__image {
        width: 80px;
        height: 80px;
        /* border: 2px solid black; */
        margin: 0 20px;
    }


    .email__image {
        width: 80px;
        height: 80px;
        /* border: 2px solid black; */
        margin: 0 20px;
    }
    .email__text {
        font-size: 25px;
        /* border: 2px solid black; */
        margin: 0 20px;
    }
    .email__text:hover {
        font-size: 30px;
    }
}
@media (max-width:580px) {
    .contacts__title {
        margin: 50px 0 40px 0;
        font-size: 35px;
    }
    .phone__text {
        font-size: 18px;
        /* border: 2px solid black; */
        margin: 0 10px;
    }
    .phone__text:hover {
        font-size: 20px;
    }
    .phone__image {
        width: 30px;
        height: 30px;
        /* border: 2px solid black; */
        margin: 0 10px;
    }


    .email__image {
        width: 30px;
        height: 30px;
        /* border: 2px solid black; */
        margin: 0 10px;
    }
    .email__text {
        font-size: 18px;
        /* border: 2px solid black; */
        margin: 0 10px;
    }
    .email__text:hover {
        font-size: 20px;
    }
}